[Unit]
Description=Mount Docker Images Directory
Before=local-fs.target

[Mount]
What=/srv/images
Where=/var/lib/docker-images
Type=none
Options=bind

[Install]
WantedBy=multi-user.target